<div class="search-results">
  <h2>Search Results</h2>
  <p class="search-results-count"><%= @results.second.count%> listings found </p>
  <strong><p class="search-results-count">Average Price: $<%= @results.first%></p></strong>
  <hr>

  <div id="listings">
    <% @results.second.map do |listing| %>
      <div class="listing-info">
        <p><span class="listing-name"><%= listing.name %></span>
        </br>
        <p><%= link_to listing.link, listing. link, class: "listing-link" %></p>
      </div>
      <div class="save-listing">
        <div class="save-btn"  data-listing="<%= listing.name%>|<%= listing.link %>" data-initial-is-unsaved="<%= current_user.unsaved_listing?(listing.link)  %>"></div>
      </div>
    <% end %>
  </div>
</div>