<div class="search-results">
  <h2>Search Results</h2>
  <p class="search-results-count"><%= @results.count%> listings found </p>
  <hr>

  <div id="listings">
    <% @results.map do |listing| %>
      <div class="listing-info">
        <p><span class="listing-name"><%= listing.name %></span>
        </br><a href="#{listing.link}" class="listing-link"><%= listing.link %></a></p>
      </div>
      <div class="save-listing">
        
        <button class="save-btn"  data-listing="<%= listing.name%>|<%= listing.link %>" data-initial-is-unsaved="<%= current_user.unsaved_listing?(listing.link)  %>"></button>
      </div>
    <% end %>
  </div>
</div>