<div class="expander">
  <a href="javascript:void(0)" class="expander-trigger expander-hidden">Search Ski Houses</a>
  <div class="expander-content">
    <div class="search-tools">
      <div class="filters">
          <%= form_tag(search_index_path, method: "get") do %>
            <%= label_tag(:location, "Location:") %>
            <%= text_field_tag(:location) %>
            <%= label_tag(:max_price, "Max Monthly Price") %>
            <%= text_field_tag(:max_price) %>
            <%= submit_tag "Find", class: "filter trigger" %>
          <% end %>
      </div>
    </div>        
  </div>
</div>
  