<table class="tables">
  <thead>
    <tr>
      <th>My Listings</th>
    </tr>
  </thead>
  <tbody>
    <% @current_user.user_listings.each do |listing| %>
      <tr>
      <td> 
        <%= listing.name %>
      </td>
      <td> 
        <button name="button-add-to-group" class="add-btn" value="<%= listing.name%>|<%= listing.url%>|<%=@searching_group.id %>">Add to Group</button>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="tables group-table">
  <thead>
    <tr>
      <th>Group Listings</th>
    </tr>
  </thead>
  <tbody>
    <% @searching_group.group_listings.each do |listing| %>
      <tr>
        <td> 
          <%= listing.user_listing.name %>
        </td>
        <td> 
          <!-- <button>Like</button> -->
          <div class="like-listing"  data-group-listing-id="<%= listing.id %>" data-initial-is-unliked="<%= listing.likes.where(user_id: current_user.id).empty? %>"></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>