<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Crowd Chalet</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
  <%= render partial: "shared/navbar" %>
  <div class="space-box">
  </div> 
  <%#= render "flashes" %> 
    
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%#= render "javascript" %>
  </body>
</html>
